@model SistemaConsultorioDental.Domain.Entities.Paciente

@{
    ViewData["Title"] = "Editar Paciente";
}

<h2>Editar Paciente</h2>

<form asp-action="EditarPaciente" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label asp-for="NombreCompleto"></label>
        <input asp-for="NombreCompleto" class="form-control" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" name="Password" value="@Model.Password" class="form-control" required />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Nacionalidad"></label>
        <input asp-for="Nacionalidad" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-controller="Home" asp-action="Menu" class="btn btn-secondary">Volver</a>
</form>
